@import "mixins.scss";

html, body{
	font-family: "helvetica", "Arial", "Time new roman";
	padding: 0;
	margin: 0;
	height: 100%;
}

main{

	.container{
		max-width: $layout-width;
		margin: 0 auto;
		display: block;
	}

	.intro{
		padding-bottom: 30px;
		font-size: 22px;
		color: $font-base-gray;
		text-align: center;
		font-weight: $font-weight-light;
	}
}