@import "_variables.scss";
@import "_mixins.scss";

.toggle-switch-container{
	background-color: $font-base-gray-light;
	width: 65px;
    margin: 10px auto;
    border-radius: 3em;
    position: relative;
    height: 30px;

	label.ball{
		@include transition(0.2s);
		position: absolute;
		content: "";
    	top: 5px;
    	left: 5px;
    	border-radius: 50%;
    	height: 20px;
    	width: 20px;
    	background-color: $color-red;

		&:hover{
			cursor: pointer;
		}
	}

	input[type=checkbox]{
		outline: none;
		cursor: pointer; 
		width: 65px;
		height: 30px;
    	margin: 0 auto;
		@include transition(0.2s);
		opacity: 0;
		display: block;
		margin: 0 auto;

		&:active~label.ball{
		}

		&:checked{
			@include transition(0.2s);
		}

		&:checked~label.ball{
			@include transition(0.2s);			
			left: 40px;
		   	background-color: $color-green;
		}
	}
}