//Container width
$layout-width: 960px;

//colors
$color-green: #00B16A; 
$color-red: #CF000F;
$font-base-gray: #4d4d4d;
$font-base-gray-light: #eeeeee;


//type
$font-size-base: 16px;
$font-weight-light: 300;


//Media Queries 

$mobile: 767px;